/*

Lightest
#dddeff
.first-color { 
	background: #b7b9f4; 
}
.second-color { 
	background: #5254d8; 
}
.third-color { 
	background: #192294; 
}
.fourth-color { 
	background: #000278; 
  #0f0c29, #302b63, #24243e
*/
body{
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}
.main-navbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f0c29;
  backdrop-filter: blur(8px);
  color: white;
  font-size: 22px;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-title{
  color: rgb(151, 151, 199); /*#7979ab hover: #a5a5d3*/
  font-size: 28px;
}

.navbar-account-btn {
  position: absolute;
  right: 23px;
  top: 11px;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar-account-icon {
  width: 37px;
  height: 37px;
  background-image: url("src/assets/account-logo1.png");
  background-size: cover;
  transition: background-image 0.4s ease;
}

.navbar-account-btn:hover .navbar-account-icon{
  background-image: url("src/assets/account-logo2.png");;
}

.navbar-slide-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 260px;
  height: 100vh;
  background: rgba(121,121,171,0.3);
  backdrop-filter: blur(12px);
  padding: 20px;
  z-index: 2000;

  transform: translateX(100%);

  transition: transform 0.3s ease-out;
}

.navbar-slide-panel.open {
  transform: translateX(0);
}


.navbar-slide-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1500;
}
