

/*

Lightest
#dddeff
.first-color { 
	background: #b7b9f4; 
}
.second-color { 
	background: #5254d8; 
}
.third-color { 
	background: #192294; 
}
.fourth-color { 
	background: #000278; 
  #0f0c29, #302b63, #24243e
*/
body{
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}
.main-navbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background:  #182848;
  backdrop-filter: blur(8px);
  color: white;
  font-size: 22px;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0px 0px 10px 0px black;
}

.navbar-title{
  color: #5c79bc; 
  font-size: 28px;
}

.navbar-account-btn {
  position: absolute;
  right: 23px;
  top: 11px;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar-account-icon {
  width: 37px;
  height: 37px;
  transition: background-image 0.4s ease;
}



.navbar-slide-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 260px;
  height: 100vh;
  background: #182848;
  backdrop-filter: blur(12px);
  padding: 20px;
  z-index: 2000;

  transform: translateX(100%);
  transition: transform 0.3s ease-out;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-slide-panel.open {
  transform: translateX(0);
}


.navbar-slide-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1500;
}


.slide-item {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  border: none;
  background: rgba(255,255,255,0);
  color: white;
  text-align: center;
  cursor: pointer;
  transition: background 0.2s;
  font-weight: bold;
  color: rgb(188, 188, 212)
}

.slide-item.logout-btn{
  color: #e67e7e;
}

.slide-item:hover {
  background: rgba(255,255,255,0.1);
}


.slide-close-btn {
  position: absolute;
  top: 45%;
  right: 100%;
  transform: translateY(-50%);
  width: 35px;
  height: 45px;
  background: #182848;
  border-radius: 6px 0 0 6px;
  cursor: pointer;
  transition: background 0.2s, opacity 0.2s;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: 50%;
}




.navbar-slide-panel:not(.open) .slide-close-btn{
  opacity: 0;
  pointer-events: none;
}