/*

Lightest
#dddeff
.first-color { 
	background: #b7b9f4; 
}
.second-color { 
	background: #5254d8; 
}
.third-color { 
	background: #192294; 
}
.fourth-color { 
	background: #000278; 
*/

body{
background: linear-gradient(to bottom, #4b6cb7, #182848);
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

html, body{
  min-width: 720px;
  overflow-x: hidden;

}

.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  max-width: 400px;
  margin: 200px auto;
  padding: 50px;
  background: linear-gradient(135deg, rgba(58,60,147,0.2), rgba(58,60,147,0.05));
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  box-shadow: 0 0 25px rgba(0,0,0,0.3);
}

.app-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  align-items: center;
  background: transparent;
}


.auth-container h2 {
  margin-bottom: 50px;
  font-size: 30px;
  color: #b4b5ff;
  font-family: 'Segoe UI', sans-serif;

}

.auth-container input {
  width: 300px;       
  max-width: 400px;     
  padding: 12px 15px;
  margin-bottom: 15px;
  border: 2px solid #b4b5ff;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.2s;
  display: block;       
  text-align: left;     
}

.auth-container input:focus {
  border-color: #000000;
}

.auth-container button[type="submit"] {
  width: 80%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #573b8a;
	background: #b4b5ff;
	font-size: 1em;
	font-weight: bold;
	margin-top: 30px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

.auth-container button[type="submit"]:hover {
  background: #9092ec;
}

.auth-container p button {
  background: none;
  border: none;
  color: #b4b5ff;
  cursor: pointer;
  font-size: 14px;
  text-decoration: underline;
  margin-left: 5px;
}

.auth-container p {
  margin-top: 15px;
  font-size: 14px;
  color: #fff;
}

.auth-container p.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}






.logos {
  width: 30px;   
  margin-left: 10px; 
  margin-bottom: 4px;
}


.social-login {
  display: flex;         
  flex-direction: row;    
  gap: 10px;              
  margin-top: 20px;
  width: 100%;           
}

.social-login button {
  flex: 1;               
  display: flex;         
  justify-content: center;
  align-items: center;
  gap: 8px;              
  height: 60px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.2s;
  padding: 20px;
}

.apple-button{
  background-color: black;
  color: white;
}
.apple-button:hover{
  background-color: rgb(41, 41, 41);
}




.page-container {
  width: 90%;
  max-width: 670px;
  min-height: 620px;
  background: rgba(75,108,183,0.15);
  backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  margin: 60px auto;
  border-radius: 20px;
  padding: 20px;
  position: relative;
  box-shadow: 0 0 25px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-x: hidden;
  align-self: stretch;
}



.page-title {
  align-self: flex-start;   
  margin-top: 20px;         
  margin-left: 30px;        
  font-size: 30px;          
  color: #ffffff;
    font-family: 'Segoe UI', sans-serif; 
}








.add-button {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);

  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #4b6cb7;
  color: white;
  font-size: 45px;
  border: none;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);

  transition:
    transform 0.25s ease,
    background-color 0.25s ease;

  z-index: 1000;
}

.add-button:hover {
  transform: translateX(-50%) scale(1.12);
  background-color: #5e7fc5;
}




.items-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding: 10px;
  box-sizing: border-box;
}

.product-card {
  width: 100%;
  max-width: 100%;
  margin: 10px;
  box-sizing: border-box;
  color: white;
  background:  #5c79bc;
  border-radius: 12px;
  padding: 12px 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);

  display: flex;
  flex-direction: column;
  gap: 6px;

  font-family: 'Segoe UI', sans-serif;
}


.product-name {
  font-size: 18px;
  font-weight: bold;
}

.product-price, .product-store, .product-barcode {
  font-size: 14px;
  color: #555;
}

.add-option-button {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #4b6cb7;
  color: white;
  font-size: 26px;
  border: none;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: #6668ea;

  transition: 
    transform 0.2s ease,
    box-shadow 0.2s ease,
    background-color 0.2s ease;
}

.add-option-button:hover {
  transform: scale(1.12);             
  background-color: #5e7fc5;          
}

.add-options {
  animation: popUp 0.18s ease-out forwards;
  opacity: 0;
  transform: scale(0.8);
}

@keyframes popUp {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.modal-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Segoe UI', sans-serif;
  width: 85%;
  max-width: 380px;

  background: linear-gradient(135deg, #4b6cb7, #182848);
  color: white; 
  border-radius: 18px;
  padding: 30px 25px; 
  box-shadow: 0 6px 20px rgba(0,0,0,0.35);

  z-index: 60;
  display: flex;
  flex-direction: column; 
  align-items: center;    
  animation: popup 0.25s ease-out;
}

.modal-close {
  position: absolute;
  top: 17px;
  right: 17px;
  width: 36px;
  height: 36px;
  border-radius: 50%; 
  background: transparent; 
  color: white;
  font-size: 35px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s, transform 0.2s;
}

.modal-close:hover {
  background-color: rgba(255, 255, 255, 0.25); 
  transform: scale(1.1); 
}

.modal-form {
  width: 100%; 
  display: flex;
  flex-direction: column;
  gap: 12px; 
  align-items: center; 
}

.modal-form input {
  width: 80%; 
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #222;
  text-align: left;
}

.submit-btn {
  width: 20%;
  padding: 8px;
  border-radius: 12px;
  background-color: #fff;
  color: #4b6cb7;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 10px;
}

.submit-btn:hover {
  background-color: #5e7fc5;
}




.product-menu {
  position: absolute;
  top: 38px;
  right: 8px;

  display: flex;
  flex-direction: column;
  width: 110px;

  background: #182848;
  border-radius: 10px;
  overflow: hidden;

  box-shadow: 0 8px 20px rgba(0,0,0,0.25);

  opacity: 0;
  transform: scale(0.95) translateY(-5px);
  pointer-events: none;

  transition: 
    opacity 0.18s ease,
    transform 0.18s ease;

  z-index: 20;
}

.product-menu.open {
  opacity: 1;
  transform: scale(1) translateY(0);
  pointer-events: auto;
}

.product-menu button {
  width: 100%;
  height: 44px;
  border: none;
  background: transparent;
  font-weight: 600;
  cursor: pointer;

  display: flex;               
  align-items: center;          
  justify-content: center;      
  text-align: center;          
}


.menu-btn {
  flex: 1;
  padding: 12px 0;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: background 0.2s ease;
}

.menu-btn.edit,
.menu-btn.delete {
  background: #2c3e75;       
  color: #ffffff; 
  font-weight: bold;
  font-size: 15px;            
}

.menu-btn.edit:hover,
.menu-btn.delete:hover {
  background: #3b5aa0;       
}

.menu-btn.delete {
  color: rgb(199, 115, 115);               
}

.delete-option-btn{
  border: none;
  height: 40px;
  width: 70px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 900;
  font-size: 14px;
  color: white;
  background-color: #5c7ecb;
  box-shadow: 0px 0px 10px 2px #393a64;
}
.delete-option-btn.delete{
  
  background-color: #c04545;               
  color: rgb(234, 227, 227);
}